body{
    background-image: url('grad2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
h1{
    font-size: 3rem;
    text-shadow: 4px 4px 4px blanchedalmond;

}
.box{
    display:inline-block;
    padding: 30px;

}
.conat{
    display: flex;
    gap:30px;
    justify-content: center;
    margin-bottom: 20px;
    
}
input[type="text"]{
    border-radius: 5px;
    height: 20px;
    padding: 8px;
    width:160px;
    font-size: 15px;
}
button{
    padding: 8px 16px;
    background-color: aquamarine;
    color: rgb(95, 55, 237);
    border: 2px;
    border-radius: 10px;
    font-size: 1rem;
    cursor:pointer;
    margin:pointer;
}
button:hover{
    background-color: rgb(226, 223, 43);
}
#rollbtn{
    font-size: 20px;
    margin-top: 10px;
    padding: 20px;
    width:20%;
    background-color: darkgrey;
    color: #ff4b2b;
    
}
#rollbtn:hover{
    background-color: rgb(244, 14, 160);
    color: aliceblue;
}
#result{
    font-size: 25px;
    font-style: italic;
    color:lime;
    font-weight: bold;
}
#round{
    color:ivory;
    font-size: 3rem;
    font-style: oblique;
}
#name1Label,#name2Label{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
    color: gold;
    background: linear-gradient(to right,#ff416c,#ff4b2b);
    box-shadow: 2px 2px 5px black;
    transition: transform 0.3s;
}
#score1,#score2{
    padding: 35px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

